<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_styles.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="menu">
        {% block menu %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
     <div class="low_button">
        <a id="home-btn" href="{{ url_for('index') }}">Volver al Inicio </a>
       
    </div>
    {% block javascript %}{% endblock %}
</body>
</html>