{% extends 'baseOtherPages.html' %}
{% block title %} Estadísticas {% endblock %}

{% block menu %} <h1> Estadísticas </h1> {% endblock %}

{% block content %}{% endblock %}




    <div class="menu">
        <h1> Estadísticas</h1>
    </div>
    <div class="graphs">
        <img src="./imgs/grafico_lineas.png" height="300" width="300" alt="Grafico días y avisos">
        <img src="./imgs/grafico_torta.png" height="250" width="250" alt="Distribucion entre gatos y perros">
        <img src="./imgs/grafico_barra.png" height="300" width="300" alt="Avisos en meses, por raza">
        
    </div>
    

