{% extends 'baseOtherPages.html' %}
{% block title %} Estadísticas {% endblock %}

{% block menu %} <h1> Estadísticas </h1> {% endblock %}

{% block content %}
<div class="graphs">
<figure class="highcharts-figure">
        <div id="container-1"></div>
</figure>
<figure class="highcharts-figure">
  <div id="container-2"></div>
</figure>
<figure class="highcharts-figure">
  <div id="container-3"></div>
</figure>

</div>
{% endblock %}

{% block javascript %} 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}    

</body>
</html>
    
    

