<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="./new_styles.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="menu">
        <h1> Estadísticas</h1>
    </div>
    <div class="graphs">
        <img src="./imgs/grafico_lineas.png" height="300" width="300" alt="Grafico días y avisos">
        <img src="./imgs/grafico_torta.png" height="250" width="250" alt="Distribucion entre gatos y perros">
        <img src="./imgs/grafico_barra.png" height="300" width="300" alt="Avisos en meses, por raza">
        
    </div>
    

    <div class="low_button">
        <a id="home-btn" href="./bienvenida.html">Volver al Inicio </a>
    </div>
</body>
</html>