
{% extends 'baseOtherPages.html' %}
{% block title %} Listado {% endblock %}

{% block menu %} <h1> Listado de Avisos </h1> {% endblock %}

{% block content %}
     <div class="avisos">
        <table>
            <thead>
                <tr>
                    <th>Fecha publicación</th>
                    <th>Fecha entrega</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo Edad</th>
                    <th>Nombre Contacto</th>
                    <th>Total Fotos</th>
                </tr>
            </thead>
            <tbody id="aviso_completo" class="aviso_completo">
            {% if data %}
                {% for aviso in data %}
                <tr
                data-descripcion="{{ aviso.desc }}"
                data-email="{{ aviso.email }}"
                data-celular="{{ aviso.celular }}" 
                >
                    <td>{{ aviso.fecha_publicacion }}</td>
                    <td>{{ aviso.fecha_entrega }}</td>
                    <td>{{ aviso.comuna }}</td>
                    <td>{{ aviso.sector }}</td>
                    <td>{{ aviso.cantidad }} {{ aviso.tipo }} {{ aviso.edad }} {{ aviso.unidad_medida }}</td>
                    <td>{{ aviso.nombre }}</td>
                    <td><img src="{{ url_for('static', filename=aviso.foto_path) }}" alt="{{aviso.foto_nombre}}"></td>
                    <td style="display: none;">
                    {% for r in aviso.contactar_por %}
                        {{ r.red_social }}:{{ r.id }} |
                    {% endfor %}
                    </td>
                

                </tr>
                {% endfor%}
            {% endif %}
            
            </tbody>
        </table>
    </div>
    <div id="row-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <div class="low_button">
                <a id="close-modal" class="close-btn">Volver al listado</a>
                <a id="back-home-btn" href="{{ url_for('index') }}">Volver al Inicio </a>
            </div>
            <div id="modal-details"></div>
        </div>
    </div>
    <div id="image-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <span id="close-image-modal" class="close-btn">&times;</span>
            <div class="image-wrapper">
                <img id="large-image" src="./imgs" alt="foto de mascota grande">
            </div>
        </div>
    </div>
    
    <div class="pagination">
  {% if page > 1 %}
    <a href="{{ url_for('ver_listado', page=page-1) }}">Previous</a>
  {% endif %}

  {% if total_pages > page%}
        <a href="{{ url_for('ver_listado', page=page+1) }}">Next</a>
  {% endif %}
    </div>
   
    {% endblock %}
  
    {% block javascript %}
    <script src="{{ url_for('static', filename='js/fila_listado.js') }}"></script>
    {% endblock %}
    

</body>
</html>