:root {
    --black-color: #000022;
    --background-color: #eabe7c;
    --pink-color: #FC2865;
    --button-color: #fde3bd;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

/* Menu */

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background: white;
    border: .2em solid var(--black-color);
    border-radius: .25em;
    margin: 2em 2em 1em 1em;
    box-shadow: .3em .3em 0px 0px black;
}

.menu > * {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
}
.menu h1 {
    font-family: "Fira Code", monospace;
    margin: .5em;
    margin-right: auto;
}

.menu a {
    position: relative;
    background-color: var(--button-color);
    text-decoration: none;
    margin: 0.25em 2em;
    padding: .25em;
    font-weight: 600;
    font-size: 1rem;
    border: .2em solid var(--black-color);
    box-shadow: .175em .175em 0px 0px black;
    border-radius: .3em;
}

/* Tabla de avisos */
.avisos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border: .2em solid var(--black-color);
    border-radius: .25em;
    box-shadow: .2em .2em 0px 0px black;
    margin: 1em 1em 1em 1em;
}

.avisos > * {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
}

.avisos h3 {
    font-family: "Fira Code", monospace;
    margin: 0 auto;

}
.avisos table{
    width: 80%;
    margin: auto auto;


}

.avisos th, td {
        border: 3px solid var(--black-color); 
        padding: 1px; 
        text-align: center; 
    }

.avisos th {
        background-color: var(--button-color); 
        color: #333; 
        font-weight: bold; 
    }

.avisos img {
      max-width: 100%; 
      height: 100px; 
      width: 100px; 
      object-fit: cover;  
     
    }

/*Low Buttons*/
.low_button {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background: none;  
    margin: 1em 1em 1em 1em;
}
.low_button > * {
    color: var(--black-color);
    font-family: "Roboto", sans-serif;
}

.low_button a {
    position: relative;
    background-color: var(--button-color);
    text-decoration: none;
    margin: 0 2em;
    padding: .25em;
    font-weight: 600;
    font-size: 1rem;
    border: .2em solid var(--black-color);
    box-shadow: .175em .175em 0px 0px black;
    border-radius: .3em;

}

.graphs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 1em 1em;
}

.graphs img {
      max-width: 100%; 
      height: auto;   
      position: relative;
      margin: 1em 2em;
      padding: .25em;
      border: .2em solid var(--black-color); 
      background-color: var(--button-color);
    }

